@black: #071910;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron {
	background-color: @black;
	color: white;
	.margenes(50px, 0px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: @black;
	color: white;
    .margenes(10px, 0px);
}
.btn {
	background-color: blue;
	color: white;
	
}

.card-hotel {
flex: 1 200px; 
 .margenes(10px, 0px);
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 5px; 
}
.img-fluid {
	width: 100%;
	height: 400px;
}
.tab-content {
	padding-top: 5px;
}

.btn-outline-success {
	background-color: white;
	color: green;
	
}
.btn-success {
	background-color: green;
	color: white;
	
}
.popover {
    border-color: green;
    color: @black;
    min-width: 100px;
    width: 100%;
    max-width: 400px;
}

.tooltip {
    border-color: green;
    color: @black;
    min-width: 100px;
    width: 100%;
    max-width: 400px;
}