.jumbotron {
  background-color: #071910;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #071910;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn {
  background-color: blue;
  color: white;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 5px;
}
.img-fluid {
  width: 100%;
  height: 400px;
}
.tab-content {
  padding-top: 5px;
}
.btn-outline-success {
  background-color: white;
  color: green;
}
.btn-success {
  background-color: green;
  color: white;
}
.popover {
  border-color: green;
  color: #071910;
  min-width: 100px;
  width: 100%;
  max-width: 400px;
}
.tooltip {
  border-color: green;
  color: #071910;
  min-width: 100px;
  width: 100%;
  max-width: 400px;
}
